/* helpers */

.main-btn {
  background-image: url('https://images.all-free-download.com/images/graphiclarge/wood_background_hd_picture_5_169810.jpg');
  padding: 10px;
  color: black;
  font-size: 1.5em;
  font-weight: 600;
  box-shadow: 0 0 4px 1px grey;
}

.main-layout {
  background-image: url('https://i.ytimg.com/vi/B_G5yMC9sKg/maxresdefault.jpg');
  height: 100vh;
  padding: 20px;
  position: relative;
}

.header {
  position: relative;
  top: 10%;
  font-size: 2em;
  font-weight: 900;
}
